body{
    background-color: black;
}
img{
    border: 5px solid white;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}
h1{
    color: white;
    font-family:"Libre Baskerville",serif;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}